<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trash Reuse Recommendations</title>
</head>
<body>
  <h1>Trash Reuse Recommendations</h1>
  <!-- Form to upload image -->
  <form action="/polls/homepage/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="userImage" accept="image/*">
    <button type="submit">Upload Image</button>
  </form>
  
  <!-- Section to display Generative AI's response -->
  {% if object_detected %}
    <div id="generativeAIResponse">
      <h2>Object Detected:</h2>
      <p>{{ object_detected }}</p>
    </div>
  {% endif %}
  {% if repurposable %}
    <div>
      <h2>Is Repurposeable?</h2>
      <p>{{ repurposable }}</p>
    </div>
  {% endif %}

  {% if repurpose_suggestions %}
    <div>
      <h2>Repurposing Suggestions:</h2>
      <p>{{ repurpose_suggestions|linebreaks }}</p>
    </div>
  {% endif %}
</body>
</html>
