body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f2; /* Light background for contrast */
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  color: #333;
}

.title {
  color: #3e4c34; /* Olive green for titles */
  text-align: center;
  margin-bottom: 20px;
}

.upload-section {
  text-align: center;
  margin-bottom: 20px;
}

#fileUpload {
  display: none; /* Hide the default input */
}

.upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8a6d3b; /* Earth brown */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.upload-label:hover {
  background-color: #7c6234;
}

.image-preview, .recommendations {
  margin-top: 20px;
  text-align: center;
}

.recommendations {
  background-color: #dcd0c0; /* Soft earth tone for recommendations background */
  padding: 10px;
  border-radius: 5px;
}